:root {
    --font: 'PT Sans', sans-serif;
}
body {
    margin:0;
    padding:0;
}
header {
    display: flex;
    align-items: center;
    max-width: 1400px;
    height: 150px;
    background-color: #ccc;
}
.logo img {
    width: 80px;
    height: 80px;
    margin-left: 30px;
    cursor: pointer;
}
aside {
    position: absolute;
    top:0;
    right:0;
    
    cursor: pointer;
    display: flex;
}
.menu--icon {
    margin-right: 20px;
    margin-top: 20px;
}
.menu--icon .linha {
    background-color: black;
    width: 30px;
    height: 5px;
    margin-bottom: 3px;
}
.menu--icon .linha3 {
    background-color: black;
    width: 25px;
    height: 5px;
}
.menu--area {
    width: 0;
    background-color: rgb(0, 0, 0);
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    transition:all ease .5s;
}

.menu--list a {
    font-family: var(--font);
    text-decoration: none;
    color: #ccc;
}
.menu--list a:hover {
    color: #ff0000;
}
.menu--list li {
    list-style: none;
    padding-left: 30px;
    padding-top: 50px;
    font-size: 25px;
    border-bottom: 1px solid #ccc;
    
}
.menu--area--open {
    width: 200px !important;
}


section .banner {
    display: block;
    background-color: #eee;
    height: calc(100vh - 150px);
}
.banner .foto {
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner img {
    width: 200px;
    border-radius: 50%;
    margin-top: 30px;
}
.banner .banner--texts {
    text-align: center;
}
.banner--texts h1 {
    color:#000;
    font-size: 40px;
    font-family: var(--font);
    text-shadow: 8px 8px 5px #999;
}
.banner--texts h2 {
    color: #000;
    font-size: 25px;
    font-family: var(--font);
    text-shadow: 8px 8px 5px #999;
}



@media (min-width:240px) and (max-width:479px) {
    .logo img {
        margin-left: 5px;
        width: 50px;
        height: 50px;
    }
    .menu--icon {
        padding-top: 40px;
        cursor: pointer;
    }
    .menu--area--open {
        width: 150px !important;
    }
    .menu--list li {
        padding-left: 20px;
        padding-top: 30px;
        font-size: 18px;
        
    }
    .banner img {
        width: 150px;
    }
    .banner--texts h1 {
        font-size: 25px;
    }
    .banner--texts h2 {
        font-size: 18px;
    }
    
}

@media (min-width:480px) and (max-width:1079px) {
    .menu--icon {
        padding-top: 40px;
    }
    .menu--list li {
        padding-left: 20px;
        padding-top: 30px;
        font-size: 20px;
        
    }
    .banner img {
        width: 180px;
    }
    .banner--texts h1 {
        font-size: 28px;
    }
    .banner--texts h2 {
        font-size: 20px;
    }
}

@media (min-width:1080px) and (max-width:1619px) {
    .menu--icon {
        padding-top: 40px;
    }
    .menu--list li {
        font-size: 23px;
        
    }
}
